.DS_Store
!/bin/
!developer*
/eclipses
/etc/user.settings
/etc/global.bashrc
!/etc/
/PortableGit
!/home
/home/**/
!/home/default
/jvms
/opt/**/
!/opt/7z-extra
/opt/*.exe
/repos/**/
/tmp
/usr/local/bin/**
