.DS_Store
!/bin/
!developer*
/etc/user.settings
/etc/global.bashrc
!/etc/
/PortableGit
/home/**/
!/home/default
/opt/**/
!/opt/7z-extra
!/opt/eclipses
!/opt/jvms
/opt/*.exe
/repos/**/
!/repos/.gitkeep
/tmp
/usr/local/bin/**
