.DS_Store
!pde*

!/bin/

/etc/user.settings
/etc/global.bashrc
!/etc/

/PortableGit

/home/*
!/home/default
/home/default/.m2

/opt/**/
!/opt/7z-extra
!/opt/eclipses
!/opt/jvms
/opt/*.exe

/repos/**/
!/repos/.gitkeep

/tmp

/usr/bin/**
!/usr/bin/.gitkeep
/usr/local/bin/**
